* {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif
}

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 80px;
}
#usuarios{
    color: grey;
    list-style: none;
    padding: 10px;
    margin: 10;
    border: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.logo{
    padding: 30px 10px;
    margin: 10;
    border: 10px;
    border-radius: 10;
    display: flex;
    justify-content: center;
}
.perfil{
    max-width: 180px;
    max-height: 180px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;   
}
.botao{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 11px 30px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}
.botao:hover{
    background-color: white;
    color: black;

}

.hover{
    color: grey;
}

.hover:hover{
    color: white;
}

.perfil:hover{
    border: 2px solid white;
}


section1{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
span{
    display: flex;
    justify-content: center;
}